.header{
    height: 100vh;
    width: 100vw;
    background-color: #4D436B;

}
.nav1{
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2vw;
    margin-top: -40vh;
    position: relative;


}
.nav1>a{
    text-decoration: none;
    color:#ffffff;
    font-size: 2.8vw;
    font-weight: 70vw;
    margin-top: 10vh;

}
.header>h1{
    margin-left: 5vw;
    
}
.header>h3{
    margin-left: 5vw;

}
#logo-1{
    margin-top: 7vh;
    margin-bottom:5vh;
    align-items: center;
    width: 20vw;
    height: 50vh;
    
}

.container{/*styling for the flexbox and its items*/
    background-color:  #EEC390;
    width: 100vw;
    height: 100vh;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.container>h2{
        width:100vw;
        line-height: 1.0em;
        height:40px;
        text-align: center;

 }
 .container>div>img{
     float: left;
 }
 .container>div>h3{
     margin-left: 40px;
 }
 .container>div>p{
     margin-top: auto;
text-align: center;
 }
 

.products{
    width: 24%;
    height:350px;
    background-color: #ffffff;
    padding: 10px;
    margin:10px;
    margin-top:-80px;

}

















.contacts{
   background-color: #81645A;
   text-align: center;
   color: white;
   width: 100vw;
   margin:0;
   
}
#pizza-form{
   width:80vw;
}
input{
   width:30vw;
   height: 8vh;
   background:transparent;
   color:white;
   border-radius: 10px;
   border-style: none;
   border:1px solid white;
   font-size: 17px;
}
input placeholder{
   color:white ;
}
#text-area{
   width:50vw;
   height: 30vh;
   background:transparent;
   margin-left: 2vw;
   border-radius: 1vw;
   border-style: none;
   border:1px solid white;
   padding-top: 40px;
   margin-top: 30px;
   color: white;
   font-size: 24px;
}
::placeholder { 
   color: white;
   opacity: 1; 
 }
.contacts h2{
   margin-top: 25px;
   padding-top: 35px;
   padding-bottom: 20px;

}
button{
   margin-right: 0vw;
   margin-bottom: 2vh;
   width:12vw;
   border-radius: 1vw;
   background-color: rgb(33, 33, 224);
   color: white;
   border-style: none;
   font-size: 17px;
   text-align: center;
   cursor: pointer;
   padding: auto;
   display: table-cell;
   vertical-align: middle;
   height: 5vh;
   
 }
 #pizza-lady{
     float: right;
     margin-top: -50vh;
     margin-right: 10vw;
     border-radius: 100vw;
 }
footer{
    text-align: center;
    padding-top: 30px;
  }
  footer p{
    margin-top: 10px;
  }