.header{
    height: 100vh;
    width: 100vw;
    background-color: #4D436B;

}
.nav1{
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: -80vh;
    position: relative;
    margin-left: 5vw;
    margin-right: -15vw;


}
.nav1>a{
    text-decoration: none;
    color:#ffffff;
    font-size: 2.8vw;
    font-weight: 70vw;
    margin-top: 10vh;

}
.header>h1{
    margin-left: 5vw;
    background-color: yellow;
    width: 30vw;
    
}
.header h3{
    margin-left: 40vw;
    margin-top: 40vh;
    background-color: red;
    width: 25vw;
    font-size: 3vw;
    text-align: center;

}
#logo-1{
    
    margin-bottom:20vh;
    align-items: center;
    width: 15vw;
    height: 15vh;
    
}
#logo-2{ 
    width: 20vw;
    height: 40vh;
    float:right
    
}

.container{/*styling for the flexbox and its items*/
    background-color:  #EEC390;
    width: 100vw;
    height: 100vh;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.container>h2{
        width:100vw;
        line-height: 1.0em;
        height:40px;
        text-align: center;

 }
 .container>div>img{
     float: left;
 }
 .container>div>h3{
     margin-left: 40px;
 }
 .container>div>p{
     margin-top: auto;
text-align: center;
 }
 

.products{
    width: 24%;
    height:350px;
    background-color: #ffffff;
    padding: 10px;
    margin:10px;
    margin-top:-80px;

}
.orders{
    background-color:#464062;
    border-radius: 20px;
    width: 35vw;
    height: 100vh;
    margin-left: 30vw;
    margin-top: 10vh;
    text-align: center;
}
.orders>h3{
    text-align: center;
    font-weight:700;
    font-family: sans-serif;

}
label{
    display:block;
    margin:0.5rem;
    color:#EEC390;
}
select{
    display:block;
    width:30vw;
    padding: 10px;
    margin-left:2vw;
    border-style: none;

}
#resetBtn{
    background-color: #343050;
    color:white;
    margin:1rem;
    width:auto;
    text-transform: uppercase;
    cursor:pointer;

}
#submitBtn{
    background-color: #343050;
    color:white;
    margin:1rem;
    width:auto;
    text-transform: uppercase;
    cursor:pointer;
}
#submitBtn>a{
    text-decoration: none;
    color:white;
}



















.contacts{
   background-color: #81645A;
   text-align: center;
   color: white;
   width: 100vw;
   margin:0;
   
}
#pizza-form{
   width:80vw;
}
input{
   width:30vw;
   height: 8vh;
   background:transparent;
   color:white;
   border-radius: 10px;
   border-style: none;
   border:1px solid white;
   font-size: 17px;
}
input placeholder{
   color:white ;
}
#text-area{
   width:50vw;
   height: 20vh;
   background:transparent;
   margin-left: 0vw;
   border-radius: 1vw;
   border-style: none;
   border:1px solid white;
   padding-top: 40px;
   margin-top: 30px;
   color: white;
   font-size: 24px;
}
::placeholder { 
   color: white;
   opacity: 1; 
 }
.contacts h2{
   margin-top: 25px;
   padding-top: 35px;
   padding-bottom: 20px;

}
button{
   margin-right: 0vw;
   margin-bottom: 2vh;
   width:12vw;
   border-radius: 1vw;
   background-color: rgb(33, 33, 224);
   color: white;
   border-style: none;
   font-size: 17px;
   text-align: center;
   cursor: pointer;
   padding: auto;
   display: table-cell;
   vertical-align: middle;
   height: 5vh;
   
 }
 #pizza-lady{
     float: right;
     margin-top: -50vh;
     margin-right: 10vw;
     border-radius: 100vw;
 }
footer{
    text-align: center;
    padding-top: 30px;
  }
  footer p{
    margin-top: 10px;
  }